
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<div class="page-container">
  <div class="card">
    <h2>Login</h2>

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% for msg in messages %}
      <div class="error-msg">{{ msg }}</div>
    {% endfor %}
    {% endwith %}

    <form method="post">
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button>Login</button>
    </form>

    <p style="text-align:center;margin-top:10px;">
      New user? <a href="/register">Register here</a>
    </p>
  </div>
</div>

</body>
</html>