<!DOCTYPE html>
<html>
<head>
    <title>{{ disaster }} Simulation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page-container">
<div class="card dashboard">

<a href="/user" class="logout-btn">Back </a>

<h1>{{ disaster }} Preparedness & Simulation</h1>

<!-- ================= DISASTER INFO ================= -->
<div class="info-card">
    <h2>📘 Disaster Overview</h2>
    <p>{{ details[0] }}</p>
</div>

<div class="info-card">
    <h2>⚠ Causes</h2>
    <ul>
        {% for c in details[1].split(',') %}
        <li>{{ c }}</li>
        {% endfor %}
    </ul>
</div>

<div class="info-card">
    <h2>💥 Impacts</h2>
    <ul>
        {% for i in details[2].split(',') %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
</div>

<div class="info-card highlight">
    <h2>📖 Case Study</h2>
    <p>{{ details[3] }}</p>
</div>

<div class="info-card">
    <h2>🎯 Key Lessons</h2>
    <p>{{ details[4] }}</p>
</div>

<div class="two-column">
    <div class="info-card success">
        <h3>✅ Do’s</h3>
        <ul>
            {% for d in details[5].split(';') %}
            <li>{{ d }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="info-card danger">
        <h3>❌ Don’ts</h3>
        <ul>
            {% for d in details[6].split(';') %}
            <li>{{ d }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<hr>

<hr>

<div class="center">
    <a href="/simulation/{{ disaster }}/exercises" class="submit-btn">
        Start Exercises
    </a>
</div>


</div>
</div>

</body>
</html>
